.background-image{
    background-image: url(../src/Component/assets/Images/background-image.svg);
    height: 100vh;
}
/* *{
  font-family:"anton" ;
  src: url(../src/Component/assets/Font/Anton-Regular.ttf) format("opentype"),;
} */

@font-face {
    font-family: "Gagalin-Regular";
    src: url(../src/Component/assets/Font/Gagalin-Regular.otf) format("opentype");
  }
 .food-fusion {
    font-family: "Gagalin-Regular" !important;
  }

  @font-face {
    font-family: 'Anton';
    src: url('../src/Component/assets/Font/Anton-Regular.ttf') format('truetype');
    /* Add other formats if needed */
  }
  
 *{
  font-family: "Anton";
 }

 body{
  /* overflow-y: hidden; */
 }


 .loader {
  background-image: url(../../food-fusion/src/Component/assets/Video/loader-unscreen.gif);
  /* width: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
 }